.feed{
  width: 100%;
  padding: 0 0 0 0;
}
.feed-post{
  margin-top: 2px;
  border: 1px solid #e1e8ed;
  margin-left: 0px !important;
  margin-right: 0px !important;
  background: white;
}
.feed-post:hover, 
.feed-post:focus {
  background: #f5f8fa; }
.feed-post img{
  border: none;
}
.post-avatar{
  max-height: 50px;
  max-width: 50px;
  padding: 0 0 0 0 !important;
  display: inline;
  float: left;
}
.post_textarea{
  max-height: 200px;
}
.no-pad{
  padding: 0 0 0 0 !important;
}
