.feed{
  width: 100%;
  background: white;
}
.feed-post{
  border: 1px solid #e1e8ed;
}
.feed-post:hover, 
.feed-post:focus {
  background: #f5f8fa; }
.feed-post img{
  border: none;
}
.post-avatar{
  height: 50px;
  width: 50px;
  display: inline;
  float: left;
}
