.top-line{
  height: 200px;
  background: #074e68;
}
.row.full-width{
  max-width: 100%;

}
.user-statistic{
  background: #eee;
}
.button.hollow{
  border-bottom: 2px solid #2199e8;
  border-left: none;
  border-right: none;
  border-top: none;
  font-size: 1rem;
  margin: 0;
  padding: 15px 13px;
}
.page-avatar-container{
  position: relative;
}
.page-avatar{
  height: 200px;
  width: 200px;
  position: absolute;
  top: -180px;
  border-radius: 10px 10px 0 0; 
}
.user-info{
  margin-top: 20px;
}
.avatar{
  height: 200px;
  width: 200px;
  position: absolute;
  top: -180px;
} 

.full-name{
  font-size: 20px;
  font-weight: bold;
}
.at_nickname{
  text-decoration: none;
  color: gray;
}
